@charset "UTF-8";

.board-table {
	width: 60%;
	margin: auto;
	background-color: white;
    border-bottom: black solid 1px; 
     border-top: black solid 1px; 
}

.board-title {
	display: inline-block;
	width: 100%;
    text-align: center;
}

.board-bottom {
	width: 100%;
    text-align: center;
    padding-top: 15px;
}

td {
	 text-align: center;
}
.tdBoardTitle {
	 text-align: left;
}

.tdBoardTitle > a {
	 color: black;
    text-decoration: none;
	max-width: 300px;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
	display: block;
}
